<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Client Data</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:insert="~{parts/navbar :: copyNavbar}"></div>
<div class="container mt-5">
    <h3> Ввод данных клиента: </h3>
    <div>
        <form th:action="@{/clientData}" method="post">
            <div class="form-group">
                <input type="text" name="lastname" class="form-control" placeholder="Фамилия"/>
            </div>
            <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Имя"/>
            </div>
            <div class="form-group">
                <input type="text" name="patronymic" class="form-control" placeholder="Отчество"/>
            </div>
            <div class="form-group">
                <input type="number" name="phone" class="form-control" placeholder="Номер телефона"/>
            </div>
            <h6> Адресс клиента: </h6>
            <div class="form-group">
                <input type="text" name="nameCity" class="form-control" placeholder="Город"/>
            </div>
            <div class="form-group">
                <input type="text" name="nameNeighborhood" class="form-control" placeholder="Район"/>
            </div>
            <div class="form-group">
                <input type="text" name="nameStreet" class="form-control" placeholder="Улица"/>
            </div>
            <div class="form-group">
                <input type="number" name="house" class="form-control" placeholder="Номер дома"/>
            </div>
            <div class="form-group">
                <input type="number" name="apartment" class="form-control" placeholder="Квартира"/>
            </div>
            <div class="form-group">
                <input type="number" name="index" class="form-control" placeholder="Почтовый индекс"/>
            </div>
            <button type="submit" class="btn btn-primary"> Ввод данных </button>
        </form>
    </div>
    <br>
    <h3> Список клиентов </h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th> ID клиента</th>
            <th> Фамилия </th>
            <th> Имя </th>
            <th> Отчество </th>
            <th> Телефон </th>
            <th> Город </th>
            <th> Район </th>
            <th> Улица </th>
            <th> Дом </th>
            <th> Квартира </th>
            <th> Почтовый индекс </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${clients.empty}">
            <td colspan="2">Не существует записей о клиентах!</td>
        </tr>
        <tr th:each="client : ${clients}">
            <td><span th:text="${client.id}">Client ID</span></td>
            <td><span th:text="${client.lastname}">Name</span></td>
            <td><span th:text="${client.name}">Name</span></td>
            <td><span th:text="${client.patronymic}">Lastname</span></td>
            <td><span th:text="${client.phone}">Phone</span></td>
            <td><span th:text="${client.address.city.nameCity}">City</span></td>
            <td><span th:text="${client.address.neighborhood.nameHood}">Neighborhood</span></td>
            <td><span th:text="${client.address.street.nameStreet}">Street</span></td>
            <td><span th:text="${client.address.house}">House</span></td>
            <td><span th:text="${client.address.apartment}">Apartment</span></td>
            <td><span th:text="${client.address.index}">Index</span></td>
        </tr>
        </tbody>
    </table>
    <div th:insert="~{parts/footer :: copy}"></div>
</div>
</body>
</html>