<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Edit Service Operation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:insert="~{parts/navbar :: copyNavbar}"></div>
<div class="container mt-5 mb-5">
    <h4> Редактировать услугу: </h4>
    <div>
        <form th:action="@{/updateServiceOperation}" method="post">
            <div class="form-group">
                <input type="number" name="serviceId" class="form-control" placeholder="ID услуги"/>
            </div>
            <div class="form-group">
                <input type="number" name="clientId" class="form-control" placeholder="ID клиента"/>
            </div>
            <div class="form-group">
                <input type="number" name="deviceId" class="form-control" placeholder="ID устройства"/>
            </div>
            <div class="form-group">
                <input type="text" name="serviceName" class="form-control" placeholder="Название услуги"/>
            </div>
            <div class="form-group">
                <input type="number" name="price" class="form-control" placeholder="Стоимость"/>
            </div>
            <button type="submit" class="btn btn-primary"> Обнавить данные услуги </button>
        </form>
        <div th:if="${updateError != null}" th:text="${updateError}"></div>
    </div>
    <br/>
    <h2> Список услуг </h2>
    <div>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th> ID услуги </th>
                <th> ID клиента </th>
                <th> ID устройства </th>
                <th> Название услуги </th>
                <th> Дата </th>
                <th> Стоимость </th>
                <th> ID скидки </th>
                <th> ID гарантии </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${services.empty}">
                <td colspan="2">No service available!</td>
            </tr>
            <tr th:each="service : ${services}">
                <td><span th:text="${service.id}">Service ID</span></td>
                <td><span th:text="${service.client.id}">Client ID</span></td>
                <td><span th:text="${service?.device?.id}">Device ID</span></td>
                <td><span th:text="${service.serviceName}">Name</span></td>
                <td><span th:text="${service.startDate}">Start date</span></td>
                <td><span th:text="${service.price}">Price</span></td>
                <td><span th:text="${service?.discount?.id}">Discount ID</span></td>
                <td><span th:text="${service?.guarantee?.id}">Guarantee ID</span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <h4> Удаление услуги: </h4>
    <div>
        <form th:action="@{/deleteService}" method="post">
            <div class="form-group">
                <input type="number" name="serviceId" class="col-sm-6 form-control" placeholder=" Введите ID услуги "/>
            </div>
            <div>
                <button type="submit" class="col-sm-2 btn btn-primary"> Удалить услугу </button>
            </div>
        </form>
    </div>
    <br/>
    <h4> Редактировать существующую скидку: </h4>
    <div>
        <form th:action="@{/updateDiscount}" method="post">
            <div class="form-group">
                <input type="number" name="discountId" class="form-control" placeholder=" ID скидки "/>
            </div>
            <div class="form-group">
                <input type="text" name="discountType" class="form-control" placeholder=" Тип скидки "/>
            </div>
            <div class="form-group">
                <input type="number" name="amount" class="form-control" placeholder=" Размер скидки "/>
            </div>
            <div class="form-group">
                <input type="text" name="status" class="form-control" placeholder=" Статус скидки "/>
            </div>
            <button type="submit" class="btn btn-primary"> Обнавить данные скидки </button>
        </form>
    </div>
    <br/>
    <h2> Список скидок </h2>
    <div>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th> ID скидки </th>
                <th> Тип скидки </th>
                <th> Размер скидки </th>
                <th> Дата начала действия скидки </th>
                <th> Статус скидки </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${discounts.empty}">
                <td colspan="2"> Нет доступных скидок! </td>
            </tr>
            <tr th:each="discount : ${discounts}">
                <td><span th:text="${discount.id}">Discount ID</span></td>
                <td><span th:text="${discount.discountType}">Discount Type</span></td>
                <td><span th:text="${discount.amount}">SAmount</span></td>
                <td><span th:text="${discount.startDate}">Start Date</span></td>
                <td><span th:text="${discount.status}">Status</span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <h4> Удаление скидки: </h4>
    <div>
        <form th:action="@{/deleteDiscount}" method="post">
            <div class="form-group">
                <input type="number" name="discountId" class="col-sm-6 form-control" placeholder=" Введите ID скидки "/>
            </div>
            <div>
                <button type="submit" class="col-sm-2 btn btn-primary"> Удалить скидку </button>
            </div>
        </form>
    </div>
    <br/>
    <h4> Редактировать существующую гарантию:</h4>
    <div>
        <form th:action="@{/updateGuarantee}" method="post">
            <div class="form-group">
                <input type="number" name="guaranteeId" class="form-control"
                       placeholder="ID гарантии"/>
            </div>
            <div class="form-group">
                <input type="text" name="guaranteeType" class="form-control"
                       placeholder="Тип гарантии"/>
            </div>
            <div class="form-group">
                <input type="number" name="duration" class="form-control"
                       placeholder="Длительность гарантии в месяцах"/>
            </div>
            <div class="form-group">
                <input type="text" name="status" class="form-control"
                       placeholder="Статус гарантии"/>
            </div>
            <button type="submit" class="btn btn-primary"> Обнавить данные гарантии </button>
        </form>
    </div>
    <br/>
    <h4> Все виды гарантий </h4>
    <div>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th> ID гарантии </th>
                <th> Тип гарантии </th>
                <th> Дата начала действия гарантии </th>
                <th> Период действия </th>
                <th> Статус </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${guarantees.empty}">
                <td colspan="2"> Нет доступных гарантий! </td>
            </tr>
            <tr th:each="guarantee : ${guarantees}">
                <td><span th:text="${guarantee.id}">Guarantee ID</span></td>
                <td><span th:text="${guarantee.guaranteeType}">Guarantee Type</span></td>
                <td><span th:text="${guarantee.startDate}">Start Date</span></td>
                <td><span th:text="${guarantee.duration}">Duration</span></td>
                <td><span th:text="${guarantee.status}">Status</span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <h4> Удаление гарантии: </h4>
    <div>
        <form th:action="@{/deleteGuarantee}" method="post">
            <div class="form-group">
                <input type="number" name="guaranteeId" class="col-sm-6 form-control" placeholder=" Введите ID гарантии "/>
            </div>
            <div>
                <button type="submit" class="col-sm-2 btn btn-primary"> Удалить гарантию </button>
            </div>
        </form>
    </div>
    <div th:insert="~{parts/footer :: copy}"></div>
</div>
</body>
</html>