<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Enter Device</title>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/styles.css}" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:insert="~{parts/navbar :: copyNavbar}"></div>
<div class="container mt-5">
    <h4>Enter device for client</h4>
    <br/>
    <div>
        <form th:action="@{/addDevice}" method="post">
            <div class="form-group">
                <input type="number" name="clientId" class="form-control" placeholder="Enter client id"/>
            </div>
            <div class="form-group">
                <input type="text" name="deviceName" class="form-control" placeholder="Enter device name"/>
            </div>
            <div class="form-group">
                <input type="text" name="modelDevice" class="form-control" placeholder="Enter model device"/>
            </div>
            <div class="form-group">
                <input type="text" name="serialNumber" class="form-control" placeholder="Enter serial number"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <br/>
    <h4>All device</h4>
    <div>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Client ID</th>
                <th>Device ID</th>
                <th>Device Name</th>
                <th>Model Device</th>
                <th>Serial Number</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${devices.empty}">
                <td colspan="2">No device available!</td>
            </tr>
            <tr th:each="device : ${devices}">
                <td><span th:text="${device.client.id}">Client ID</span></td>
                <td><span th:text="${device.id}">Device ID</span></td>
                <td><span th:text="${device.deviceName}">Device name</span></td>
                <td><span th:text="${device.modelDevice}">Model device</span></td>
                <td><span th:text="${device.serialNumber}">Serial number</span></td>
            </tr>
            </tbody>
        </table>
    </div>

    <br/>
    <h4>Delete device</h4>
    <div>
        <form th:action="@{/deleteDevice}" method="post">
            <div class="form-group">
                <input type="number" name="deviceId" class="form-control" placeholder="Enter device id"/>
            </div>
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
    </div>
    <div th:insert="~{parts/footer :: copy}"></div>
</div>
</body>
</html>