<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Devices of client</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:insert="~{parts/navbar :: copyNavbar}"></div>
<div class="container mt-5">
    <h4> Ввод нового устройства для клиента: </h4>
    <br/>
    <div>
        <form th:action="@{/addDevice}" method="post">
            <div class="form-group">
                <input type="number" name="clientId" class="form-control" placeholder="Введите id клиента"/>
            </div>
            <div class="form-group">
                <input type="text" name="deviceName" class="form-control" placeholder="Название устройства"/>
            </div>
            <div class="form-group">
                <input type="text" name="modelDevice" class="form-control" placeholder="Модель устройства"/>
            </div>
            <div class="form-group">
                <input type="text" name="serialNumber" class="form-control" placeholder="Серийный номер"/>
            </div>
            <button type="submit" class="btn btn-primary"> Ввод </button>
        </form>
    </div>
    <br/>
    <h4> Редактирование устройства: </h4>
    <br/>
    <div>
        <form th:action="@{/editDevice}" method="post">
            <div class="form-group">
                <input type="number" name="clientId" class="form-control" placeholder="Введите id клиента"/>
            </div>
            <div class="form-group">
                <input type="number" name="deviceId" class="form-control" placeholder="Введите id устройства"/>
            </div>
            <div class="form-group">
                <input type="text" name="deviceName" class="form-control" placeholder="Название устройства"/>
            </div>
            <div class="form-group">
                <input type="text" name="modelDevice" class="form-control" placeholder="Модель устройства"/>
            </div>
            <div class="form-group">
                <input type="text" name="serialNumber" class="form-control" placeholder="Серийный номер"/>
            </div>
            <button type="submit" class="btn btn-primary"> Редактировать </button>
        </form>
    </div>
    <br/>
    <h4> Все устройства </h4>
    <div>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th> ID клиента </th>
                <th> ID устройства </th>
                <th> Название устройства </th>
                <th> Модель устройства </th>
                <th> Серийный номер </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${devices.empty}">
                <td colspan="2"> Не одоного устройства еще не сохранено! </td>
            </tr>
            <tr th:each="device : ${devices}">
                <td><span th:text="${device.client.id}"> ID клиента </span></td>
                <td><span th:text="${device.id}"> ID устройства </span></td>
                <td><span th:text="${device.deviceName}"> Название устройства </span></td>
                <td><span th:text="${device.modelDevice}"> Модель устройства </span></td>
                <td><span th:text="${device.serialNumber}"> Серийный номер </span></td>
            </tr>
            </tbody>
        </table>
    </div>

    <br/>
    <h4> Удалить устройство: </h4>
    <div>
        <form th:action="@{/deleteDevice}" method="post">
            <div class="form-group">
                <input type="number" name="deviceId" class="form-control" placeholder="Enter device id"/>
            </div>
            <button type="submit" class="btn btn-primary"> Удалить </button>
        </form>
    </div>
    <div th:insert="~{parts/footer :: copy}"></div>
</div>
</body>
</html>